{
    admin off
    auto_https off
    servers {
        trusted_proxies static 172.16.0.0/12 10.0.0.0/8 192.168.0.0/16
        client_ip_headers X-Forwarded-For CF-Connecting-IP
    }
}

:80 {
    root * /app/public
    encode zstd gzip

    php_server {
        index index.php
        resolve_root_symlink
    }

    file_server
}
